$primary-color: #192C2D;
$text-projects-color: black;
$copy-font: 'Comfortaa', cursive;
$title-fonts: 'Martel', serif;
$font-default-size: 1.7rem;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%, 0% 50%;
    }
    50% {
        background-position: 0% 0%, 100% 50%;
    } 100% {
        background-position: 0% 0%, 0% 50%;
    }
}

body {
    min-width: 320px;
    background: 
        linear-gradient(170deg, $primary-color 600px, transparent 601px), 
        linear-gradient(75deg, rgba(95,9,121,1) 10%, #01A5B3, #014F9A);
    background-size: 100% 700px, 300% 300%;
    background-repeat: no-repeat, no-repeat;
    background-position: top, center;
    font-family: $copy-font;
    font-size: $font-default-size;
    color: $primary-color;
    animation: gradient 12s ease infinite;
    scroll-behavior: smooth;
}



section h1{
    font-family: $title-fonts;
}

.section__title {
    font-family: $title-fonts;
    font-size: 3.2rem;
    color: #33ff99;
    text-transform: uppercase;
    letter-spacing: 8px;
    line-height: 4.5rem;
    margin-bottom: 70px;
}

.curve-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.curve-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.curve-top .shape-fill {
    fill: #192C2D;
}

@mixin setIcons ($icon-tec){
  width: 42px;
  height: 42px;
  background-image: url($icon-tec);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes tonext {
    13% {
      right: 0;
    }
    26% {
      right: 100%;
    }
    39% {
      right: 200%;
    }
    52% {
      right: 300%;
    }
    65% {
      right: 400%;
    }
    78% {
      right: 500%;
    }
    84% {
      right: 500%;
    }
    99% {
      right: 0;
    }
}
  
@keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -600%;
    }
    98% {
      left: -600%;
    }
    99% {
      left: 0;
    }
  }
  
@keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
}