.header {
    padding-block: 24px;
    text-align: center;
    margin-bottom: 28px;

    & .nav {

        position: relative;
        height: 60px;

        &__list {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 18px;
        }

        &__item {
            display: block;
            list-style: none;
            text-align: center;
        }

        @mixin setIcon($icon) {
            display: block;
            width: 42px;
            height: 42px;
            margin: 0 auto 12px;
            background: url($icon), white;
            background-position: center, center;
            background-size: 26px, 100%;
            background-repeat: no-repeat, no-repeat;
            border-radius: 50%;
        }

        &__item--icon.icon-projects {
            @include setIcon('../assets/icons/works-icon.png')
        }

        &__item--icon.icon-about-me{
            @include setIcon('../assets/icons/about-me-icon.png')
        }

        &__item--icon.icon-contact{
            @include setIcon('../assets/icons/contact-icon.png')
        }

        &__item--title {
            display: block;
            font-size: 1.5rem;
            color: white;
            opacity: 0;
            transition: transform ease-in-out 350ms, opacity ease-in-out 350ms;
        }

        &__item:hover .nav__item--title {
            transform: scale(1.2);
            opacity: 1;
        }
        

    }
}