* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  background: #192C2D;
  font-family: "Comfortaa", cursive;
  font-size: 1.7rem;
  color: #192C2D;
}

section h1 {
  font-family: "Martel", serif;
}

.header {
  padding-block: 24px;
  text-align: center;
  margin-bottom: 28px;
}

.header .nav {
  position: relative;
  height: 60px;
}

.header .nav__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 18px;
}

.header .nav__item {
  display: block;
  list-style: none;
  text-align: center;
}

.header .nav__item--icon.icon-projects {
  display: block;
  width: 42px;
  height: 42px;
  margin: 0 auto 12px;
  background: url("../assets/icons/works-icon.png"), white;
  background-position: center, center;
  background-size: 26px, 100%;
  background-repeat: no-repeat, no-repeat;
  border-radius: 50%;
}

.header .nav__item--icon.icon-about-me {
  display: block;
  width: 42px;
  height: 42px;
  margin: 0 auto 12px;
  background: url("../assets/icons/about-me-icon.png"), white;
  background-position: center, center;
  background-size: 26px, 100%;
  background-repeat: no-repeat, no-repeat;
  border-radius: 50%;
}

.header .nav__item--icon.icon-contact {
  display: block;
  width: 42px;
  height: 42px;
  margin: 0 auto 12px;
  background: url("../assets/icons/contact-icon.png"), white;
  background-position: center, center;
  background-size: 26px, 100%;
  background-repeat: no-repeat, no-repeat;
  border-radius: 50%;
}

.header .nav__item--title {
  display: block;
  font-size: 1.5rem;
  color: white;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 350ms, -webkit-transform ease-in-out 350ms;
  transition: opacity ease-in-out 350ms, -webkit-transform ease-in-out 350ms;
  transition: transform ease-in-out 350ms, opacity ease-in-out 350ms;
  transition: transform ease-in-out 350ms, opacity ease-in-out 350ms, -webkit-transform ease-in-out 350ms;
}

.header .nav__item:hover .nav__item--title {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 34px 75px;
  width: 90%;
  margin: 0 auto;
}

.hero__wrapper--decorator {
  position: relative;
  width: 216px;
  height: 216px;
  padding-top: 8px;
  margin-bottom: 14px;
  background: linear-gradient(215deg, #5f0979, #00ff90 90%);
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero__wrapper-img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.hero__img {
  position: relative;
  top: -30px;
  width: 100%;
  height: auto;
}

.hero__wrapper {
  max-width: 640px;
  padding: 30px 40px;
  background-color: white;
  border-radius: 16px;
  border-bottom: 6px solid #00ff90;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero__title {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(#00ff90, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__text {
  line-height: 2.4rem;
  margin-bottom: 16px;
}

.hero__text .spot {
  font-size: 1.9rem;
  font-weight: 700;
  color: #5f0979;
}

.hero__text .js {
  font-size: 1.9rem;
  font-weight: 700;
  color: #b1b400;
}

.hero__text .css {
  font-size: 1.9rem;
  font-weight: 700;
  color: dodgerblue;
}

.hero__text .html {
  font-size: 1.9rem;
  font-weight: 700;
  color: darkorange;
}

.hero__text .python {
  font-size: 1.9rem;
  font-weight: 700;
  color: darkseagreen;
}
/*# sourceMappingURL=style.css.map */